* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  border: 1px solid black;
  width: 70%;
  max-width: 500px;
}
